.notes-full-page {
    font-family: poppins;
    display: grid;
    grid-template-columns: 40% 60%;
    position: absolute;
    top: 1%;
    left: 260px;
    width: 70%;
    height: 100%;
}

.notes-component-page {
    width: 100%;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: white;

}

.notes-page-header-2 {
    margin-left: 10px;
    font-weight: 400;
}

.notes-page-header-3 {
    margin: 0 0 0 10px;
    font-weight: 400;

}

#note-header-icon {
    margin-right: 5px;
}

.note-cards-container {
    border-top: 1px solid;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
}

.note-card-parent {
    background-color: white;
    box-shadow: 1px 1px 8px rgba(1, 1, 1, .5);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    height: 200px;
    margin: 5px 5px;
}

.note-card-parent-selected {
    background-color: white;
    box-shadow: 1px 1px 12px #00A82D;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    height: 200px;
    margin: 5px 5px;
    border: #00A82D 3px solid;
}

.note-card-title {
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
}

.note-card-content {
    margin-top: 5px;
    overflow: hidden;
    height: 120px;
    word-wrap: break-word;
}

#note-delete-icon {
    border: none;
    background-color: none;
    color: red;
    font-size: 16px;
}

.note-card-delete-button {
    border: none;
    background-color: rgb(135, 135, 135, 0);
    color: red;
}

.note-edit-area {
    grid-column-start: 2;
}

.note-title-edit-input {
    width: 100%;
    height: 60px;
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-family: poppins;
}

.note-title-edit-input:focus {
    outline: 0;
}

.note-content-edit-input {
    width: 100%;
    height: 70%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-family: poppins;
    /* overflow: scroll; */

}

.note-time {
    font-size: 12px;
    color: rgb(135, 135, 135);
    margin-bottom: 5px;
}

.note-save-button {
    margin: 10px;
    width: 20%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #00A82D;
    color: white;
}

.note-delete-confirmation-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36, .5);
    display: none;
    justify-content: center;
    align-items: center;
}

.note-delete-confirmation-card {
    display: flex;
    background-color: white;
    width: 300px;
    height: fit-content;
    flex-direction: column;
    padding: 15px;
    box-shadow: 1px 1px 10px rgb(36, 36, 36, .1);
    border-radius: 5px;
    font-size: 16px;
}

.note-delete-confirmation-card > p {
    text-align: center;
}

.delete-note-confirmation-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.delete-note-yes {
    padding: 5px 30px;
    margin: 5px;
    background-color: #00A82D;
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.delete-note-cancel {
    padding: 5px 30px;
    margin: 5px;
    background-color: #636363;
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.note-editarea-title {
    background-color: #e7e7e7;
    margin: 20px 0 0;
    padding: 5px 10px 5px 5px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0.3em;
    visibility: hidden;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
