.Notebooks-page {
    position: absolute;
    top: 1%;
    left: 0;
    width: 80%;
    height: 100%;
    margin-left: 300px;
}

.notebook-more-options {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, .5);
    background-color: white;
    position: absolute;
    z-index: 1;
}

.notebook-options-parent {
    width: 0;
    height: 0;
    position: relative;
    top: -10px;
    display: none;
}

.note-book-delete-button {
    background-color: rgb(163, 163, 163, 0);
    border: none;
    padding: 5px 15px;
    color: rgb(70, 70, 70);
}

.notebook-edit-button {
    background-color: rgb(163, 163, 163, 0);
    border: none;
    padding: 5px 15px;
    color: rgb(70, 70, 70);
}

.notebook-edit-confirm {
   display: block;
   position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead > tr > th {
    background-color: rgb(165, 165, 165);
    color: white;
}

th {
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding: 5px;
}

tbody > tr {
    font-size: 12px;
}

tbody > tr:nth-child(even) {
    background-color: #e1ffe8;
}

tbody > tr:nth-child(odd) {
    background-color: #ceeed6;
    margin: 0;
}

.notebook-title-column {
    padding: 0 100px 0 10px;
    display: flex;
    align-items: center;
}

.notebook-user-column {
    padding: 0 40px 0 10px;
}

.notebook-updated-column {
    padding: 0 40px 0 10px;
}

.notebook-action-column {
    padding: 0 20px 0 10px;
}

.notebook-option-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(219, 219, 219, 0);
    width: 100%;
    height: 100%;
    display: block;
}

.notebook-delete-confirmation-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36, .5);
    display: none;
    justify-content: center;
    align-items: center;
}

.notebook-delete-confirmation-card {
    display: flex;
    background-color: white;
    width: 300px;
    height: fit-content;
    flex-direction: column;
    padding: 15px;
    box-shadow: 1px 1px 10px rgb(36, 36, 36, .1);
    border-radius: 5px;
    font-size: 16px;
}

.notebook-delete-confirmation-card > p {
    text-align: center;
}

.delete-notebook-confirmation-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.delete-notebook-yes {
    padding: 5px 30px;
    margin: 5px;
    background-color: #00A82D;
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.delete-notebook-cancel {
    padding: 5px 30px;
    margin: 5px;
    background-color: #636363;
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

[contentEditable]:read-write {
    background-color: white;
    padding: 1px 3px;
}

.notebook-edit-buttons {
    display: none;
    margin-left: 10px;
}

.notebook-edit-confirm {
    padding: 5px 15px;
    margin: 5px;
    background-color: #00A82D;
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: none;
}

.notebook-edit-cancel {
    padding: 5px 15px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: none;
}

.notebook-page-list-navlink {
    text-decoration: none;
    color: black;
}
