.user-board-body {
    width: 100%;
    height: 100%;
}

.user-nav-container {
    background-color: rgb(24, 24, 24);
    color: rgb(216, 216, 216);

    width: 250px;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-profile-container {
    width: 100%;
    background-color: #00A82D;
}

.user-profile-button:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    color: rgb(17, 17, 17);
}

.user-profile-button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 24);
    color: rgb(216, 216, 216);
    border: none;
}

#profile-logo::before {
    font-size: 35px;
    width: 20%;
    height: 100%;
    color:  #00A82D;
    margin: 5px;
}

.profile-username {
    margin: 5px;
    font-size: 14px;
    overflow: hidden;
}

@keyframes profile-dropdown-open {
    from {transform: scale(1, 0);
        transform-origin: top;
    }
    to {transform: scale(1, 1);
        transform-origin: top;
    }
}

@keyframes profile-dropdown-close {
    from {transform: scale(1, 0);
        transform-origin: top;
    }
    to {transform: scale(1, 1);
        transform-origin: top;
    }
}

.profile-dropdown-container {
    background-color: white;
    color: rgb(117, 117, 117);
    padding: 10px 0 1px 0;
    width: 100%;
    animation-name: profile-dropdown-open;
    animation-duration: 0.5s;
}

.profile-header {
    background-color: white;
    margin: 0 15px;
    font-size: 16px;
    color: rgb(177, 177, 177);
    width: 90%;
}

.profile-options {
    list-style: none;
    width: 95%;
    margin: 20px 0;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-top: solid 1px;
    /* background-color: rgb(236, 236, 236); */
}

.profile-dropdown-list {
    width: 100%;
    padding: 0;
}

.profile-options > span {
    font-weight: 600;
    margin-right: 5px;
}

.logout-button {
    width: 100%;
    height: 35px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    background-color:#00A82D;
    border: 1px solid #00A82D;
    margin-top: 6px;
    border-radius: 25px;
}

.logout-button:hover {
    cursor: pointer;
    background-color: white;
    border: #00A82D 1px solid;
    color: #00A82D;
}

.searchbar-container {
    width: 98%;
    height: fit-content;
    margin: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-icon {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(58, 58, 58);
    color: rgb(216, 216, 216);
    border: none;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
}

.search-input {
    width: 80%;
    height: 40px;
    padding-left: 5px;
    background-color: rgb(58, 58, 58);
    color: rgb(216, 216, 216);
    border: none;
    border-radius: 0 20px 20px 0;
}

.search-input::placeholder {
    color: rgb(216, 216, 216);
    opacity: 1;
    font-size: 14px;
}

.search-input:focus {
    border: none;
    outline: 0;
}

.new-button-container {
    width: 98%;
    height: fit-content;
    margin: 5px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.new-button {
    width: 96%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #00A82D;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.new-button:hover {
    cursor: pointer;
}

#plus-icon {
    margin: 0 15px 0 8px;
    font-size: 16px;
}

.notes-nav-container {
    width: 85%;
    margin: 0px 5px 0px 40px;
    padding: 0;
    height: 45px;
    display: flex;
    align-items: center;
}

.notes-navlink-container {
    text-decoration: none;
    color:rgb(216, 216, 216);
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.notes-nav {
    margin: 0%;
}

#note-icon {
    margin-right: 10px;
}

.notebooks-nav-container {
    width: 85%;
    margin: 0px 5px 0px 40px;
    padding: 0;
    height: 45px;
    display: flex;
    align-items: center;
}

.notebooks-navlink-container {
    text-decoration: none;
    color:rgb(216, 216, 216);
    width: 100%;
    height: 45px;

}

.notebooks-nav {
    margin: 0;
}

.notebook-form-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.7);
}

.notebook-form-container {
    width: 400px;
    height: fit-content;
    background-color: white;
    display: flex;
    align-content: center;
    box-shadow: 1px 1px 20px rgba(1, 1, 1, .5);
    border-radius: 10px;
}

.notebook-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    color: rgb(70, 70, 70);
}

.notebook-form-input {
    width: 98%;
    height: 35px;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 0 5px 5px;
    font-size: 16px;
}

.notebook-form-button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 20px 0 10px 0;
    background-color: #00A82D;
    color: white;
    padding: 5px 0 5px 5px;
}

.create-buttons-container {

    background-color: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.create-notebook-button {
    width: 95%;
    height: 35px;
    margin: 5px;
    background-color: #00A82D;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.create-notebook-button:hover {
    cursor: pointer;
}

.create-note-button {
    width: 95%;
    height: 35px;
    margin: 5px;
    background-color: #00A82D;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.create-note-button:hover {
    cursor: pointer;
}

.notebooks-dropdown-lists {
    font-size: 15px;
    width: 70%;
    margin: 0 20px 0 50px;
    overflow: hidden;
    color: rgb(182, 182, 182);
}

.nav-book-list {
    margin: 0;
    padding: 2px 0 2px 0;
    display: flex;
    align-items: center;
}

.book-list-navlink-container {
    text-decoration: none;
    color:rgb(216, 216, 216);
    width: 100%;
}

#notebook-list-down-arrow {
    margin-left: 20px;
}

.notebooks-nav-adjustment {
    display: flex;
    align-items: center;
}

.note-form-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.7);
}

.note-form-container {
    width: 400px;
    height: fit-content;
    background-color: white;
    display: flex;
    align-content: center;
    box-shadow: 1px 1px 20px rgba(1, 1, 1, .5);
    border-radius: 10px;
}

.note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    color: rgb(70, 70, 70);
}

.note-form-input {
    width: 98%;
    height: 35px;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 0 5px 5px;
    font-size: 16px;
}

.note-form-button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 20px 0 10px 0;
    background-color: #00A82D;
    color: white;
    padding: 5px 0 5px 5px;
}

.notebook-form-errors {
    display: none;
    list-style: none;
    color: red;
    padding: 0;
    font-size: 14px;
}

.note-form-errors {
    display: none;
    list-style: none;
    color: red;
    padding: 0;
    font-size: 12px;
    flex-direction: column;
}

#notebook-delete-icon {
    border: none;
    background-color: none;
    color: red;
    font-size: 12px;
}

.notebook-delete {
    border: none;
    background-color: rgb(117, 117, 117, 0);
    color: red;
    font-size: 12px;
}
