.signup-full-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2ffbb;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 600px;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px rgba(1, 1, 1, .5);
    padding: 100px;
    border-radius: 10px;
    background-color: white;
    overflow-y: scroll;
}

.helper-notes-logo-signup {
    width: 300px;
}

.helper-logo-signup {
    width: 300px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.signup-label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 10px 0 20px 0;
    color: grey;
}

.signup-input {
    width: 100%;
    height: 35px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

.signup-button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #00A82D;
    background-color: #00A82D;
    color: white;
    font-size: 22px;
}

.signup-button:hover {
    cursor: pointer;
    background-color: rgba(1, 1, 1, 0);
    color: #00A82D;
    border: 2px solid #00A82D;
    border-radius: 5px;
}

.signup-form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 18px;
}

.login-redirect-login-page {
    text-decoration: none;
    color: #00A82D;
    font-size: 20px;
}

.login-redirect-login-page:hover {
    color: black;
}

.signup-errors-list {
    text-decoration: none;
    list-style-type: none;
    color: rgb(236, 14, 14);
    display: flex;
    justify-content: center;
    margin: none;
    padding: 0;
    flex-direction: column;
}

.signup-input-error {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    border: solid 2px rgb(236, 14, 14);
    padding: 5px;
}
